{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{$sectionhack := (lower (trim .Title "/")) | singularize}}
{{$sectiondataexists := (isset .Site.Data.sections $sectionhack)}}

{{if isset (index .Site.Data.sections $sectionhack) "image"}}
 <header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{index (index .Site.Data.sections $sectionhack) "image"}})">
{{else if .Params.headerimage}}
	<header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Params.headerimage}})">
{{else if .Site.Params.headerimage}}
	<header class="main-header tag-head" style="background-image: url({{ $baseurl }}{{.Site.Params.headerimage}})">
{{else}}
	<header class="main-header tag-head no-cover">
{{end}}
    <nav class="main-nav overlay clearfix">
      {{ if .Site.Params.logo }}
        <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Home" /></a>
      {{end}}
      {{ if .Site.Menus.main }}
          <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
      {{else}}
        {{ if .Site.Params.RSSLink}}
          <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{else}}
          <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
        {{end}}
      {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ if isset (index .Site.Data.sections $sectionhack) "title" }}{{index (index .Site.Data.sections $sectionhack) "title"}}{{else}}{{.Title}}{{end}}</h1>
            <h2 class="page-description"> {{ if isset (index .Site.Data.sections $sectionhack) "description"}}{{index (index .Site.Data.sections $sectionhack) "description"}}{{else}}{{.Description}}{{end}}
              </h2>
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">
    {{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ partial "li.html" . }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}